DATABASE_URL="url de la db o de la conexion de docker, postgresql://neondb_owner:npg_h8WBFVPQJDr9@ep-young-river-abp6v2we.eu-west-2.aws.neon.tech/neondb?sslmode=require"
AUTH_SECRET="Cualquier chorrada que nos inventemos para encriptar, es 78374c0781cb9d1dea3bfabd1beea5c4431b2970aa2173fbcb8a36afc261df28"

# AUTH_URL="https://el-teu-dominio.cat"